:root {
  --themaColor: #263239
}

body {
  margin: 0;
  font-family: source-han-sans-japanese, sans-serif; 
  font-weight: 500;
  color: var(--themaColor);
}

header {
  padding: 20px 0;
  background: var(--themaColor);
  color: #fff;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 28px;
  font-weight: 900;
}

header h1 span {
  font-size: 22px;
}

header h2 {
  margin: 0;
  font-size: 18px;
}

main > section > h1 {
  position: relative;
  box-sizing: border-box;
  width: 90%;
  margin: 10px auto;
  padding: 12px 10px;
  font-size: 20px;
  font-weight: 900;
}

main > section > h1:before,
main > section > h1:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  background: var(--themaColor);
}

main > section > h1:before {
  bottom: -1px;
  width: 15%;
  height: 5px;
  border-radius: 2.5px;
}

main > section > h1:after {
  bottom: 0;
  width: 100%;
  height: 3px;
  border-radius: 3px;
}

.card {
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
  padding: 25px;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  background: #f5f5f5;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
}

.card h2 {
  margin: 15px 0 10px;
  font-size: 15px;
  font-weight: 200;
}

.card h2:before,
.card h2:after {
  content: "ー";
  margin: 0 2px;
}

.schoolDayText {
  margin: 0;
  font-size: 20px;
}

#errorMessage {
  display: none;
  color: #c62828;
  font-size: 13px; 
}

#formContainer {
  display: flex;
  align-items: center;
}

#formContainer select {
  flex-grow: 1;
  height: 25px;
  border: 1px solid var(--themaColor);
  border-radius: 50px;
  background: transparent;
  text-align: center;
  font-size: 16px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

#formContainer select:hover {
  background: #d9e4ea;
}

#formContainer span {
  margin: 0 5px;
}

.btn{
  display: block;
  padding: 10px 0 12px;
  border-radius: 26px;
  background: var(--themaColor);
  text-align: center;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
}

#landscapeMenuContainer {
  position: sticky;
  top: 0;
  padding: 10px 0;
  border-bottom: 1px solid var(--themaColor);
  background: #fff;
  z-index: 99;
}

.landscapeMenu {
  display: flex;
  padding: 0;
  list-style: none;
}

.landscapeMenu li{
  padding: 5px 0 7px;
  border: solid var(--themaColor);
  border-width: 2px 1px;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
}

.landscapeMenu li:first-of-type {
  border-left-width: 2px;
  border-radius: 24px 0 0 24px;
}

.landscapeMenu li:last-of-type {
  border-right-width: 2px;
  border-radius: 0 24px 24px 0px;
}

.landscapeMenu li.selected {
  background: var(--themaColor);
  color: #fff
}

#switchDisplay {
  width: 90%;
  margin: 0 auto;
}

#switchDisplay li {
  flex: 1;
}

#narrowDownDisplay {
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  margin-bottom: 0;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

#narrowDownDisplay::-webkit-scrollbar {
  display:none;
}

#narrowDownDisplay li {
  flex-shrink: 0;
  position: relative;
  width: 200px;
  scroll-snap-align: center;
}

#narrowDownDisplay li:first-of-type {
  margin-left: calc(50vw - 101.5px);
}

#narrowDownDisplay li:last-of-type:after {
  content: "";
  position: absolute;
  right: calc((50vw - 101.5px) * -1);
  width: calc(50vw - 101.5px);
  height: 100%;
}

#tasks ul {
  list-style: none;
  padding: 0;
}

#tasks h2{
  width: 80%;
  margin: 10px auto 0;
  padding: 0 5%;
  border-bottom: 1px solid var(--themaColor);
  font-size: 20px;
  font-weight: 100;
}

#tasks .task {
  width: 80%;
  margin: 0 auto;
}

#tasks .task input[type="checkbox"] {
  display: none;
}

#tasks .task h3 {
  position: relative;
  margin-bottom: 0;
  padding-left: 30px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  cursor: pointer;
}  

#tasks .task h3:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid var(--themaColor);
  border-radius: 11px;
  transition: all .15s;
  -webkit-transition: all .15s;
}

#tasks .task input[type="checkbox"]:checked + h3,
#tasks .task input[type="checkbox"]:checked + h3 + table {
  transition: all .15s;
  -webkit-transition: all .15s;
  color :#999;
}

@keyframes hide {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
    height: 0;
    margin: 0;
  }
}

.hide,
.hide h3{
  pointer-events: none;
  animation: hide .6s linear 0s;
  animation-fill-mode: forwards;
}

#tasks .task input[type="checkbox"]:checked + h3:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#tasks .task table {
  padding-left: 50px;
  color: #3E4D55;
  font-size: 15px;
}

#tasks .task table th {
  text-align: right;
  font-weight: 500;
}

